@import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=229f654c-f062-4aa1-9cd0-067c8b3f856d");
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 16, ../scss/_boilerPoint.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 19, ../scss/_boilerPoint.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 24, ../scss/_boilerPoint.scss */
audio:not([controls]) {
  display: none;
}

/* line 27, ../scss/_boilerPoint.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prupcoming iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* line 37, ../scss/_boilerPoint.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 42, ../scss/_boilerPoint.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 46, ../scss/_boilerPoint.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* =============================================================================
   Links
   ========================================================================== */
/* line 59, ../scss/_boilerPoint.scss */
a {
  text-decoration: none;
}

/* line 62, ../scss/_boilerPoint.scss */
a:visited {
  text-decoration: none;
}

/* line 65, ../scss/_boilerPoint.scss */
a:link {
  text-decoration: none;
}

/* line 69, ../scss/_boilerPoint.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* line 73, ../scss/_boilerPoint.scss */
a:hover, a:active {
  outline: 0;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
/* line 79, ../scss/_boilerPoint.scss */
[data-icon]:before {
  font-family: 'Follow';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 97, ../scss/_boilerPoint.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 2.5em;
}

/* line 101, ../scss/_boilerPoint.scss */
dd {
  margin: 0 0 0 2.5em;
}

/* line 104, ../scss/_boilerPoint.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
/* line 117, ../scss/_boilerPoint.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */
/* line 125, ../scss/_boilerPoint.scss */
svg:not(:root) {
  overflow: hidden;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
/* line 132, ../scss/_boilerPoint.scss */
button, input {
  line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
/* line 140, ../scss/_boilerPoint.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 148, ../scss/_boilerPoint.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/*
 * Consistent box sizing and appearance
 */
/* line 154, ../scss/_boilerPoint.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 0.8125em;
  *height: 0.8125em;
}

/* line 160, ../scss/_boilerPoint.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 166, ../scss/_boilerPoint.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
/* line 172, ../scss/_boilerPoint.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
/* line 180, ../scss/_boilerPoint.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 186, ../scss/_boilerPoint.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* For image replacement */
/* line 191, ../scss/_boilerPoint.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 202, ../scss/_boilerPoint.scss */
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 206, ../scss/_boilerPoint.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 211, ../scss/_boilerPoint.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0.0625em;
  margin: -0.0625em;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.0625em;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 222, ../scss/_boilerPoint.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 231, ../scss/_boilerPoint.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 235, ../scss/_boilerPoint.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 239, ../scss/_boilerPoint.scss */
.clearfix:after {
  clear: both;
}

/* line 242, ../scss/_boilerPoint.scss */
.clearfix {
  *zoom: 1;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 250, ../scss/_boilerPoint.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 259, ../scss/_boilerPoint.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 262, ../scss/_boilerPoint.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 265, ../scss/_boilerPoint.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 268, ../scss/_boilerPoint.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 272, ../scss/_boilerPoint.scss */
  pre, blockquote {
    border: 0.0625em solid #999;
    page-break-inside: avoid;
  }

  /* line 276, ../scss/_boilerPoint.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 280, ../scss/_boilerPoint.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 283, ../scss/_boilerPoint.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 289, ../scss/_boilerPoint.scss */
  p, h2, .upcoming .time, .upcoming .place, .name {
    orphans: 3;
    widows: 3;
  }

  /* line 293, ../scss/_boilerPoint.scss */
  h2, .upcoming .time, .upcoming .place, .name {
    page-break-after: avoid;
  }
}
/* line 295, ../scss/_boilerPoint.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'outagecut';
  src: url("../web-fonts/outage_cut-webfont.eot");
  src: url("../web-fonts/outage_cut-webfont.eot?#iefix") format("embedded-opentype"), url("../web-fonts/outage_cut-webfont.woff") format("woff"), url("../web-fonts/outage_cut-webfont.ttf") format("truetype"), url("../web-fonts/outage_cut-webfont.svg#outagecut") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next LT W01 Demi";
  src: url("../web-fonts/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix");
  src: url("../web-fonts/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix") format("eot"), url("../web-fonts/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff") format("woff"), url("../web-fonts/a0f4c2f9-8a42-4786-ad00-fce42b57b148.ttf") format("truetype"), url("../web-fonts/99affa9a-a5e9-4559-bd07-20cf0071852d.svg#99affa9a-a5e9-4559-bd07-20cf0071852d") format("svg");
}

@font-face {
  font-family: 'Follow';
  src: url("../web-fonts/Follow.eot");
  src: url("../web-fonts/Follow.eot?#iefix") format("embedded-opentype"), url("../web-fonts/Follow.woff") format("woff"), url("../web-fonts/Follow.ttf") format("truetype"), url("../web-fonts/Follow.svg#Follow") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*  Gray */
/* Greens */
/* White and Black */
/* line 1, ../scss/_body.scss */
body {
  font: 100% "'Avenir Next LT W01 Demi' 'Helvetica Neue', Helvetica, Arial, sans-serif";
  background: #e5e5e5;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJElEQVQIW2NkAIKvX7/+B9EgwM3NzcgIEgAxYIIgPgmC2MwEAJtOH6BiH6rPAAAAAElFTkSuQmCC) repeat;
}

/* line 7, ../scss/_body.scss */
.lt-ie9 body {
  min-width: 60em;
}

/* line 1, ../scss/_normalize.scss */
.main {
  clear: both;
}

/* PARAGRAPH */
/* line 5, ../scss/_normalize.scss */
p {
  font-family: "Avenir Next LT W01 Demi", serif;
  color: black;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.6em;
  margin-bottom: 1em;
  text-align: center;
}
/* line 13, ../scss/_normalize.scss */
p#copyright {
  color: white;
  font-size: 0.625em;
  text-transform: uppercase;
  text-align: center;
  float: left;
  margin: 2em;
  margin-left: 3em;
}

/* BUTTON */
/* line 24, ../scss/_normalize.scss */
.code, .map {
  text-align: center;
  margin-bottom: 1em;
  letter-spacing: .1em;
  text-align: center;
  font-family: 'Avenir Next LT W01 Demi';
  font-size: 0.9375em;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 100;
}

/*Border */
/* line 36, ../scss/_normalize.scss */
.border {
  float: left;
  margin-left: 3%;
}
@media (max-width: 24em) {
  /* line 36, ../scss/_normalize.scss */
  .border {
    border: none;
  }
}

/*Layout Wrappers*/
/* line 46, ../scss/_normalize.scss */
.layout-wrapper {
  clear: both;
  max-width: 58.125em;
  margin: 0 auto;
}

/* line 52, ../scss/_normalize.scss */
.layout-footer {
  clear: both;
  background-color: black;
  height: 4.6875em;
  margin-top: -2em;
}

/* line 58, ../scss/_normalize.scss */
.footer-centering {
  margin: 0 auto;
  max-width: 53.125em;
}

/* PRIMARY HEADING */
/* line 2, ../scss/_headings.scss */
h1 {
  font-family: 'outagecut', sans-serif;
  text-align: center;
  font-size: 1.25em;
  color: #dedede;
}

/* line 8, ../scss/_headings.scss */
h2 {
  font-family: 'outagecut', sans-serif;
  text-align: center;
  font-size: 1.5em;
  color: #dedede;
}

/* HEADER & LOGO */
/* line 3, ../scss/_header.scss */
header {
  overflow: visible;
  padding: 1em 0;
  height: 9em;
  background-color: white;
  margin: 2.5em 0;
}
@media (max-width: 57em) {
  /* line 3, ../scss/_header.scss */
  header {
    width: 100%;
    margin: 0 auto;
    height: 0em;
    padding: 0em;
  }
}
/* line 15, ../scss/_header.scss */
header .layout-wrapper {
  width: 57em;
  /* 57em 912px*/
}
@media (max-width: 57em) {
  /* line 15, ../scss/_header.scss */
  header .layout-wrapper {
    width: 21em;
    /* 21em 336px*/
  }
}
/* line 21, ../scss/_header.scss */
header .border {
  border-top: solid;
  border-bottom: solid;
  height: 5em;
}
/* line 26, ../scss/_header.scss */
header img {
  display: block;
  margin: 0 auto;
  margin-top: -4.75em;
  width: 13.8125em;
  /* 13.8125em 221px*/
  height: 15.3125em;
  /* 15.3125em 245px*/
  padding: 1.5em 0;
}
@media (max-width: 57em) {
  /* line 26, ../scss/_header.scss */
  header img {
    float: initial;
    width: 8.2875em;
    /*.6 *221  132.5px*/
    height: 9.1875em;
    /*.6 * 245 147px*/
    padding: 0;
    margin-top: 0;
  }
}
/* line 42, ../scss/_header.scss */
header .logo_description {
  font-family: 'outagecut', sans-serif;
  text-align: center;
  display: inline-block;
  color: #c7c7c7;
  font-size: 1em;
  /*1em 16px*/
  float: left;
  line-height: 4em;
  /* 4em 64px*/
  border-color: #c7c7c7;
  margin-left: .34375em;
  margin-top: -8.75em;
  margin-right: .34375em;
}
/* line 55, ../scss/_header.scss */
header .logo_description span.left {
  margin-right: 16em;
  border-top: 0.3em solid;
  border-bottom: 0.3em solid;
  padding: 1em 0;
}
@media (max-width: 57em) {
  /* line 55, ../scss/_header.scss */
  header .logo_description span.left {
    border: none;
  }
}
/* line 63, ../scss/_header.scss */
header .logo_description span.left:before {
  content: '> ';
  color: #98c035;
}
/* line 68, ../scss/_header.scss */
header .logo_description span.right {
  border-top: 0.3em solid;
  border-bottom: 0.3em solid;
  padding: 1em 0;
}
@media (max-width: 57em) {
  /* line 68, ../scss/_header.scss */
  header .logo_description span.right {
    border: none;
  }
}
/* line 75, ../scss/_header.scss */
header .logo_description span.right:after {
  content: ' <';
  color: #98c035;
}
@media (max-width: 57em) {
  /* line 42, ../scss/_header.scss */
  header .logo_description {
    line-height: 1.25em;
    border-top: 0.3em solid;
    border-bottom: 0.3em solid;
    background-color: white;
    margin: 0 auto;
  }
  /* line 86, ../scss/_header.scss */
  header .logo_description span.left {
    margin-right: 0;
  }
}
/* line 91, ../scss/_header.scss */
header .description {
  font-size: 1.25em;
  width: 100%;
  float: left;
  margin: 0 auto;
  background-color: #8a8a8a;
  border-top: 0.3em solid #98c035;
  padding: 2% 14%;
}
@media (max-width: 57em) {
  /* line 91, ../scss/_header.scss */
  header .description {
    padding: 2% 15%;
    font-size: 1em;
  }
}
@media (min-width: 85em) {
  /* line 91, ../scss/_header.scss */
  header .description {
    padding: 2% 25%;
  }
}
@media (min-width: 95em) {
  /* line 91, ../scss/_header.scss */
  header .description {
    padding: 2% 33%;
  }
}

/* line 2, ../scss/_upComingMeetings.scss */
.upcoming {
  background: black url("../style-prototype/img/event-background.png") no-repeat top center;
  background-size: cover;
  margin-top: -2%;
  padding: 1%;
}
/* line 7, ../scss/_upComingMeetings.scss */
.upcoming .border {
  width: 45%;
  border: 0.3em solid white;
  margin-top: 6.25em;
}
@media (max-width: 24em) {
  /* line 7, ../scss/_upComingMeetings.scss */
  .upcoming .border {
    border: none;
  }
}
@media (max-width: 57em) {
  /* line 7, ../scss/_upComingMeetings.scss */
  .upcoming .border {
    float: initial;
    width: 72%;
    margin: 0 auto;
    margin-top: 6.25em;
  }
}
/* line 21, ../scss/_upComingMeetings.scss */
.upcoming h1 {
  font-family: 'Avenir Next LT W01 Demi', sans-serif;
}
/* line 23, ../scss/_upComingMeetings.scss */
.upcoming h1:before {
  content: '\00a0';
  background-color: #dedede;
  display: inline-block;
  width: 37%;
  margin-right: .3125em;
  height: .1875em;
  vertical-align: middle;
}
@media (max-width: 57em) {
  /* line 23, ../scss/_upComingMeetings.scss */
  .upcoming h1:before {
    width: 0;
    height: 0;
  }
}
/* line 36, ../scss/_upComingMeetings.scss */
.upcoming h1:after {
  content: '\00a0';
  background-color: #dedede;
  display: inline-block;
  width: 37%;
  height: .1875em;
  margin-left: .3125em;
  vertical-align: middle;
}
@media (max-width: 57em) {
  /* line 36, ../scss/_upComingMeetings.scss */
  .upcoming h1:after {
    width: 0;
    height: 0;
  }
}
/* line 50, ../scss/_upComingMeetings.scss */
.upcoming time {
  display: block;
  font-family: outagecut;
  color: #98c035;
  text-align: center;
  font-size: 1.5em;
  margin-top: -3.75em;
}
/* line 58, ../scss/_upComingMeetings.scss */
.upcoming img {
  display: block;
  margin: 0 auto;
  margin-top: 1em;
  width: 8.5625em;
  height: 5.375em;
}
/* line 65, ../scss/_upComingMeetings.scss */
.upcoming p {
  color: white;
  text-align: center;
  padding: 2% 0;
}
@media (max-width: 57em) {
  /* line 65, ../scss/_upComingMeetings.scss */
  .upcoming p {
    line-height: 1.25em;
    margin: 0 auto;
    font-size: .8em;
    padding: 2% 20%;
  }
}
/* line 76, ../scss/_upComingMeetings.scss */
.upcoming .map {
  display: block;
  width: 25%;
  background-color: #959595;
  margin-bottom: 2%;
}
/* line 81, ../scss/_upComingMeetings.scss */
.upcoming .map:visited {
  color: black;
}
/* line 84, ../scss/_upComingMeetings.scss */
.upcoming .map:link {
  color: black;
}
/* line 87, ../scss/_upComingMeetings.scss */
.upcoming .map:hover {
  transition: 1s;
  background-color: #585858;
}
/* line 90, ../scss/_upComingMeetings.scss */
.upcoming .map:hover:visited {
  color: #fff;
}
/* line 95, ../scss/_upComingMeetings.scss */
.upcoming .org {
  font-family: outagecut;
  margin: 1em;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  text-align: center;
}
/* line 103, ../scss/_upComingMeetings.scss */
.upcoming .street-address {
  font-family: 'Avenir Next LT W01 Demi', sans-serif;
  color: white;
  text-align: center;
}
/* line 108, ../scss/_upComingMeetings.scss */
.upcoming .adr {
  font-family: 'Avenir Next LT W01 Demi', sans-serif;
  font-size: 1.5em;
  color: white;
  text-align: center;
}
/* line 114, ../scss/_upComingMeetings.scss */
.upcoming .locality {
  font-family: 'Avenir Next LT W01 Demi', sans-serif;
  color: white;
  text-align: center;
}
/* line 119, ../scss/_upComingMeetings.scss */
.upcoming .region {
  font-family: 'Avenir Next LT W01 Demi', sans-serif;
  color: white;
  text-align: center;
}
/* line 124, ../scss/_upComingMeetings.scss */
.upcoming .postal-code {
  font-family: 'Avenir Next LT W01 Demi', sans-serif;
  color: white;
  text-align: center;
}

/*PastMeetings*/
/* line 3, ../scss/_pastMeetings.scss */
.past {
  max-width: 58.125em;
  margin: 0 auto;
}
/* line 6, ../scss/_pastMeetings.scss */
.past h1 {
  font-family: 'Avenir Next LT W01 Demi', sans-serif;
  color: #555555;
}
/* line 9, ../scss/_pastMeetings.scss */
.past h1:before {
  content: '\00a0';
  background-color: #555555;
  display: inline-block;
  width: 41%;
  margin-right: 0.3125em;
  height: 0.1875em;
  vertical-align: middle;
}
@media (max-width: 57em) {
  /* line 9, ../scss/_pastMeetings.scss */
  .past h1:before {
    height: 0;
    width: 0;
  }
}
/* line 22, ../scss/_pastMeetings.scss */
.past h1:after {
  content: '\00a0';
  background-color: #555555;
  display: inline-block;
  width: 41%;
  height: 0.1875em;
  margin-left: 0.3125em;
  vertical-align: middle;
}
@media (max-width: 57em) {
  /* line 22, ../scss/_pastMeetings.scss */
  .past h1:after {
    height: 0;
    width: 0;
  }
}
/* line 36, ../scss/_pastMeetings.scss */
.past .border {
  margin: 0 auto;
  float: left;
  margin-left: 3%;
  margin-top: 0.625em;
  width: 45%;
  text-align: center;
  margin-bottom: 0.9375em;
  border: 0.3em solid #555555;
  padding: 1.25em;
}
@media (max-width: 24em) {
  /* line 36, ../scss/_pastMeetings.scss */
  .past .border {
    border: none;
  }
}
@media (max-width: 57em) {
  /* line 36, ../scss/_pastMeetings.scss */
  .past .border {
    float: none;
    width: 75%;
    margin: 0.625em auto;
  }
}
/* line 55, ../scss/_pastMeetings.scss */
.past .time {
  font-family: outagecut;
  color: #555555;
}
/* line 58, ../scss/_pastMeetings.scss */
.past .time:before {
  content: '\00a0';
  background-color: #98c035;
  display: inline-block;
  width: 4%;
  height: 0.1875em;
  margin-right: 0.3125em;
  vertical-align: middle;
}
/* line 67, ../scss/_pastMeetings.scss */
.past .time:after {
  content: '\00a0';
  background-color: #98c035;
  display: inline-block;
  width: 4%;
  height: 0.1875em;
  margin-left: 0.3125em;
  vertical-align: middle;
}
/* line 77, ../scss/_pastMeetings.scss */
.past h2 {
  color: #555555;
}
/* line 80, ../scss/_pastMeetings.scss */
.past .code {
  width: 40%;
  color: black;
  margin: 0 auto;
  background-color: white;
  padding: 0.3125em;
  color: #555555;
}
/* line 87, ../scss/_pastMeetings.scss */
.past .code:visited {
  color: #555555;
}
/* line 90, ../scss/_pastMeetings.scss */
.past .code:link {
  color: #555555;
}
/* line 93, ../scss/_pastMeetings.scss */
.past .code:hover {
  transition: 0.25s;
  color: white;
  background-color: #555555;
}
/* line 97, ../scss/_pastMeetings.scss */
.past .code:hover:visited {
  color: white;
}

/* line 1, ../scss/_chirp.scss */
.layout-twitter-wrapper {
  clear: both;
  background-color: #7fc21a;
  font-family: georgia;
  font-size: 1em;
  color: #333333;
}
/* line 7, ../scss/_chirp.scss */
.layout-twitter-wrapper #tweets {
  padding: 1em;
  margin: 0 auto;
  max-width: 57em;
}
/* line 11, ../scss/_chirp.scss */
.layout-twitter-wrapper #tweets li {
  color: black;
  list-style-type: none;
  margin: 0 auto;
  float: left;
  margin-left: 3%;
  margin-top: 1em;
  margin-bottom: 2em;
  width: 45%;
  text-align: center;
}
@media (max-width: 50em) {
  /* line 11, ../scss/_chirp.scss */
  .layout-twitter-wrapper #tweets li {
    float: none;
    margin-left: none;
    width: 70%;
    margin: 0 auto 15px auto;
    padding: 0 0 15px 0;
    border-bottom: 1px dotted #ccc;
  }
}
/* line 29, ../scss/_chirp.scss */
.layout-twitter-wrapper #tweets li a {
  text-decoration: none;
  color: white;
}
/* line 33, ../scss/_chirp.scss */
.layout-twitter-wrapper #tweets li a:hover {
  text-decoration: underline;
}
/* line 36, ../scss/_chirp.scss */
.layout-twitter-wrapper #tweets li .time {
  font-size: 10px;
  font-style: italic;
  color: #666666;
}

/* line 1, ../scss/_footer.scss */
footer {
  clear: both;
}

/* line 4, ../scss/_footer.scss */
.layout-sub_footer {
  clear: both;
  padding: 2em;
  width: 100%;
  background-color: #9ac236;
  float: left;
}
/* line 10, ../scss/_footer.scss */
.layout-sub_footer p {
  max-width: 75%;
  float: left;
  text-align: left;
  color: #ffffff;
  font-size: 1.5em;
}
@media (max-width: 57em) {
  /* line 10, ../scss/_footer.scss */
  .layout-sub_footer p {
    font-size: 1em;
    margin-left: 10%;
    max-width: 60%;
  }
}
@media (max-width: 38em) {
  /* line 10, ../scss/_footer.scss */
  .layout-sub_footer p {
    max-width: 100%;
  }
}
/* line 26, ../scss/_footer.scss */
.layout-sub_footer .font-color {
  clear: both;
  color: #000;
  margin: 0;
}
@media (max-width: 57em) {
  /* line 26, ../scss/_footer.scss */
  .layout-sub_footer .font-color {
    font-size: 1em;
  }
}
/* line 34, ../scss/_footer.scss */
.layout-sub_footer ul {
  margin: 0;
  padding: 0;
  margin-top: .45em;
  display: inline-block;
  list-style-type: none;
  font-size: 3em;
  margin-left: .5em;
}
@media (max-width: 50em) {
  /* line 34, ../scss/_footer.scss */
  .layout-sub_footer ul {
    font-size: 3em;
  }
}
@media (max-width: 44em) {
  /* line 34, ../scss/_footer.scss */
  .layout-sub_footer ul {
    font-size: 3em;
    margin-left: 10%;
  }
}
/* line 51, ../scss/_footer.scss */
.layout-sub_footer li {
  display: inline-block;
}
/* line 54, ../scss/_footer.scss */
.layout-sub_footer li a {
  display: inline-block;
  color: #000;
}
/* line 57, ../scss/_footer.scss */
.layout-sub_footer li a:hover {
  transition: .5s;
  text-decoration: none;
  color: #fff;
}
/* line 64, ../scss/_footer.scss */
.layout-sub_footer .layout-wrapper {
  max-width: 53.125em;
  margin: 0 auto;
}
