@import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=229f654c-f062-4aa1-9cd0-067c8b3f856d");
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 16, ../scss/_boilerPoint.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 19, ../scss/_boilerPoint.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 24, ../scss/_boilerPoint.scss */
audio:not([controls]) {
  display: none;
}

/* line 27, ../scss/_boilerPoint.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prupcoming iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* line 37, ../scss/_boilerPoint.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 42, ../scss/_boilerPoint.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 46, ../scss/_boilerPoint.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* =============================================================================
   Links
   ========================================================================== */
/* line 59, ../scss/_boilerPoint.scss */
a {
  text-decoration: none;
}

/* line 65, ../scss/_boilerPoint.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* line 69, ../scss/_boilerPoint.scss */
a:hover, a:active {
  outline: 0;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
/* line 75, ../scss/_boilerPoint.scss */
[data-icon]:before {
  font-family: 'Follow';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 93, ../scss/_boilerPoint.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 2.5em;
}

/* line 97, ../scss/_boilerPoint.scss */
dd {
  margin: 0 0 0 2.5em;
}

/* line 100, ../scss/_boilerPoint.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
/* line 113, ../scss/_boilerPoint.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */
/* line 121, ../scss/_boilerPoint.scss */
svg:not(:root) {
  overflow: hidden;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
/* line 128, ../scss/_boilerPoint.scss */
button, input {
  line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
/* line 136, ../scss/_boilerPoint.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 144, ../scss/_boilerPoint.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/*
 * Consistent box sizing and appearance
 */
/* line 150, ../scss/_boilerPoint.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 0.8125em;
  *height: 0.8125em;
}

/* line 156, ../scss/_boilerPoint.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 162, ../scss/_boilerPoint.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
/* line 168, ../scss/_boilerPoint.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
/* line 176, ../scss/_boilerPoint.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 182, ../scss/_boilerPoint.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* For image replacement */
/* line 187, ../scss/_boilerPoint.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 198, ../scss/_boilerPoint.scss */
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 202, ../scss/_boilerPoint.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 207, ../scss/_boilerPoint.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0.0625em;
  margin: -0.0625em;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.0625em;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 218, ../scss/_boilerPoint.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 227, ../scss/_boilerPoint.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 231, ../scss/_boilerPoint.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 235, ../scss/_boilerPoint.scss */
.clearfix:after {
  clear: both;
}

/* line 238, ../scss/_boilerPoint.scss */
.clearfix {
  *zoom: 1;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 246, ../scss/_boilerPoint.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 255, ../scss/_boilerPoint.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 258, ../scss/_boilerPoint.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 261, ../scss/_boilerPoint.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 264, ../scss/_boilerPoint.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 268, ../scss/_boilerPoint.scss */
  pre, blockquote {
    border: 0.0625em solid #999;
    page-break-inside: avoid;
  }

  /* line 272, ../scss/_boilerPoint.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 276, ../scss/_boilerPoint.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 279, ../scss/_boilerPoint.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 285, ../scss/_boilerPoint.scss */
  p, h2, .upcoming .time, .upcoming .place, .name {
    orphans: 3;
    widows: 3;
  }

  /* line 289, ../scss/_boilerPoint.scss */
  h2, .upcoming .time, .upcoming .place, .name {
    page-break-after: avoid;
  }
}
/* line 291, ../scss/_boilerPoint.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'outagecut';
  src: url("../web-fonts/outage_cut-webfont.eot");
  src: url("../web-fonts/outage_cut-webfont.eot?#iefix") format("embedded-opentype"), url("../web-fonts/outage_cut-webfont.woff") format("woff"), url("../web-fonts/outage_cut-webfont.ttf") format("truetype"), url("../web-fonts/outage_cut-webfont.svg#outagecut") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next LT W01 Demi";
  src: url("../web-fonts/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix");
  src: url("../web-fonts/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix") format("eot"), url("../web-fonts/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff") format("woff"), url("../web-fonts/a0f4c2f9-8a42-4786-ad00-fce42b57b148.ttf") format("truetype"), url("../web-fonts/99affa9a-a5e9-4559-bd07-20cf0071852d.svg#99affa9a-a5e9-4559-bd07-20cf0071852d") format("svg");
}

@font-face {
  font-family: 'Follow';
  src: url("../web-fonts/Follow.eot");
  src: url("../web-fonts/Follow.eot?#iefix") format("embedded-opentype"), url("../web-fonts/Follow.woff") format("woff"), url("../web-fonts/Follow.ttf") format("truetype"), url("../web-fonts/Follow.svg#Follow") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*  Gray */
/* Greens */
/* White and Black */
/* line 1, ../scss/_body.scss */
body {
  font: 100%/1.5 "'Avenir Next LT W01 Demi' 'Helvetica Neue', Helvetica, Arial, sans-serif";
  background: #e5e5e5;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJElEQVQIW2NkAIKvX7/+B9EgwM3NzcgIEgAxYIIgPgmC2MwEAJtOH6BiH6rPAAAAAElFTkSuQmCC) repeat;
}

/* line 7, ../scss/_body.scss */
.lt-ie9 body {
  min-width: 60em;
}

/* PRIMARY HEADING */
/* line 2, ../scss/_headings.scss */
h1 {
  font-family: 'outagecut', sans-serif;
  text-align: center;
  font-size: 1.25em;
  color: #dedede;
  line-height: 4em;
}

/* line 8, ../scss/_headings.scss */
h2 {
  font-family: 'outagecut', sans-serif;
  text-align: center;
  font-size: 1.5em;
  color: #dedede;
}

/* HEADER & LOGO */
/* line 3, ../scss/_header.scss */
header {
  overflow: visible;
  height: 8em;
  background-color: white;
  margin: 3em 0;
}
@media (max-width: 57em) {
  /* line 3, ../scss/_header.scss */
  header {
    width: 100%;
    margin: 0 auto;
    height: 0em;
  }
}
/* line 13, ../scss/_header.scss */
header .page_wrapper {
  width: 57em;
}
@media (max-width: 57em) {
  /* line 13, ../scss/_header.scss */
  header .page_wrapper {
    width: 21em;
  }
}
/* line 19, ../scss/_header.scss */
header .border {
  border-top: solid;
  border-bottom: solid;
  height: 5em;
}
/* line 24, ../scss/_header.scss */
header img {
  float: left;
  display: block;
  margin: 0 auto;
  margin-top: -3em;
  width: 13.8125em;
  height: 15.3125em;
}
@media (max-width: 57em) {
  /* line 24, ../scss/_header.scss */
  header img {
    float: initial;
  }
}
/* line 35, ../scss/_header.scss */
header .logo_description1 {
  font-family: 'outagecut', sans-serif;
  text-align: center;
  color: #c7c7c7;
  line-height: 4em;
  font-size: 1em;
  float: left;
  max-width: 22.875em;
  border-top: 0.3em solid;
  border-bottom: 0.3em solid;
  background-color: white;
  border-color: #c7c7c7;
  border-spacing: 1em 1em;
  margin-left: .34375em;
  margin-top: 1.75em;
  margin-right: .34375em;
}
@media (max-width: 57em) {
  /* line 35, ../scss/_header.scss */
  header .logo_description1 {
    line-height: 1.25em;
    margin: 0 auto;
  }
}
/* line 55, ../scss/_header.scss */
header .logo_description1:before {
  content: '> ';
  color: #98c035;
}
/* line 60, ../scss/_header.scss */
header .logo_description2 {
  font-family: 'outagecut', sans-serif;
  text-align: center;
  color: #c7c7c7;
  line-height: 4em;
  font-size: 1em;
  float: left;
  max-width: 22.875em;
  border-top: 0.3em solid;
  border-bottom: 0.3em solid;
  border-color: #c7c7c7;
  background-color: white;
  border-spacing: 1em 1em;
  margin-left: .34375em;
  margin-top: 1.75em;
  margin-right: .34375em;
}
@media (max-width: 57em) {
  /* line 60, ../scss/_header.scss */
  header .logo_description2 {
    line-height: 1.25em;
    margin: 0 auto;
  }
}
/* line 80, ../scss/_header.scss */
header .logo_description2:after {
  content: ' <';
  color: #98c035;
}
/* line 85, ../scss/_header.scss */
header .description {
  font-size: 1.25em;
  width: 100%;
  float: left;
  margin: 0 auto;
  background-color: #8a8a8a;
  border-top: 0.3em solid #98c035;
  padding: 2% 14%;
}
@media (max-width: 57em) {
  /* line 85, ../scss/_header.scss */
  header .description {
    padding: 2% 15%;
    font-size: 1em;
  }
}
@media (min-width: 85em) {
  /* line 85, ../scss/_header.scss */
  header .description {
    padding: 2% 25%;
  }
}
@media (min-width: 95em) {
  /* line 85, ../scss/_header.scss */
  header .description {
    padding: 2% 33%;
  }
}

/* line 1, ../scss/_main.scss */
.main {
  clear: both;
}

/* PARAGRAPH */
/* line 5, ../scss/_main.scss */
p {
  font-family: "Avenir Next LT W01 Demi", serif;
  color: black;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 1em;
  text-align: center;
}
/* line 13, ../scss/_main.scss */
p#copyright {
  color: white;
  font-size: 0.625em;
  margin-top: 2.8125em;
  text-transform: uppercase;
  text-align: center;
  float: left;
  margin: 2em;
  margin-left: 3em;
}

/* BUTTON */
/* line 25, ../scss/_main.scss */
.button {
  width: 25%;
  height: .5em;
  text-align: center;
}
/* line 29, ../scss/_main.scss */
.button li {
  text-align: center;
}
/* line 32, ../scss/_main.scss */
.button a {
  text-transform: uppercase;
  display: block;
  font-size: 0.9375em;
  font-weight: bold;
  list-style: none;
  background-color: #959595;
  border-radius: 0.625em;
  text-align: center;
  font-family: 'Avenir Next LT W01 Demi';
  font-weight: 100;
  color: black;
  letter-spacing: .1em;
}
/* line 46, ../scss/_main.scss */
.button:hover {
  background-color: #585858;
}

/*Page Wrapper*/
/* line 52, ../scss/_main.scss */
.page_wrapper {
  clear: both;
  max-width: 58.125em;
  margin: 0 auto;
}

/* line 58, ../scss/_main.scss */
.inner {
  clear: both;
  background-color: black;
  height: 4.6875em;
  margin-top: -2em;
}
/* line 63, ../scss/_main.scss */
.inner .footer-centering {
  margin: 0 auto;
  max-width: 53.125em;
}

/*MEETINGS*/
/* line 2, ../scss/_meetings.scss */
.Meetings {
  margin-top: -1em;
  background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0.45, #6b6b6b), color-stop(0.78, #363636));
}

/* UPCOMING MEETINGS*/
/* line 3, ../scss/_upComingMeetings.scss */
.upcomingMeetings {
  background: url("../style-prototype/img/event-background.png") no-repeat;
  background-size: cover;
  margin-top: -2%;
  padding: 1%;
}
/* line 8, ../scss/_upComingMeetings.scss */
.upcomingMeetings .border {
  float: left;
  width: 45%;
  border: 0.3em solid white;
  margin-left: 3%;
  margin-top: 6.25em;
}
@media (max-width: 57em) {
  /* line 8, ../scss/_upComingMeetings.scss */
  .upcomingMeetings .border {
    float: initial;
    width: 72%;
    margin: 0 auto;
    margin-top: 6.25em;
  }
}
/* line 21, ../scss/_upComingMeetings.scss */
.upcomingMeetings h1 {
  font-family: 'Avenir Next LT W01 Demi', sans-serif;
}
/* line 23, ../scss/_upComingMeetings.scss */
.upcomingMeetings h1:before {
  content: '\00a0';
  background-color: #dedede;
  display: inline-block;
  width: 37%;
  margin-right: .3125em;
  height: .1875em;
  vertical-align: middle;
}
@media (max-width: 57em) {
  /* line 23, ../scss/_upComingMeetings.scss */
  .upcomingMeetings h1:before {
    width: 0;
    height: 0;
  }
}
/* line 36, ../scss/_upComingMeetings.scss */
.upcomingMeetings h1:after {
  content: '\00a0';
  background-color: #dedede;
  display: inline-block;
  width: 37%;
  height: .1875em;
  margin-left: .3125em;
  vertical-align: middle;
}
@media (max-width: 57em) {
  /* line 36, ../scss/_upComingMeetings.scss */
  .upcomingMeetings h1:after {
    width: 0;
    height: 0;
  }
}
/* line 50, ../scss/_upComingMeetings.scss */
.upcomingMeetings time {
  display: block;
  font-family: outagecut;
  color: #98c035;
  text-align: center;
  font-size: 1.5em;
  margin-top: -3.75em;
}
/* line 58, ../scss/_upComingMeetings.scss */
.upcomingMeetings img {
  display: block;
  margin: 0 auto;
  margin-top: 1em;
  width: 9.5625em;
  height: 6.375em;
}
/* line 65, ../scss/_upComingMeetings.scss */
.upcomingMeetings p {
  color: #dedede;
  text-align: center;
  padding: 2% 0;
}
@media (max-width: 57em) {
  /* line 65, ../scss/_upComingMeetings.scss */
  .upcomingMeetings p {
    line-height: 1.25em;
    margin: 0 auto;
    font-size: .8em;
    padding: 2% 20%;
  }
}
/* line 76, ../scss/_upComingMeetings.scss */
.upcomingMeetings a {
  max-width: 8em;
  margin: 0 auto;
  margin-bottom: 1em;
  text-transform: uppercase;
  display: block;
  font-size: 1em;
  list-style: none;
  background-color: #959595;
  text-align: center;
  font-family: 'Avenir Next LT W01 Demi';
  font-weight: 100;
  color: black;
  letter-spacing: .1em;
}
/* line 91, ../scss/_upComingMeetings.scss */
.upcomingMeetings a:hover {
  background-color: #585858;
}
/* line 94, ../scss/_upComingMeetings.scss */
.upcomingMeetings .org {
  font-family: outagecut;
  margin: 1em;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  text-align: center;
}
/* line 102, ../scss/_upComingMeetings.scss */
.upcomingMeetings .street-address {
  color: #dedede;
  text-align: center;
}
/* line 106, ../scss/_upComingMeetings.scss */
.upcomingMeetings .adr {
  font-size: 1.5em;
  color: #dedede;
  text-align: center;
}
/* line 111, ../scss/_upComingMeetings.scss */
.upcomingMeetings .locality {
  color: #dedede;
  text-align: center;
}
/* line 115, ../scss/_upComingMeetings.scss */
.upcomingMeetings .region {
  color: #dedede;
  text-align: center;
}
/* line 119, ../scss/_upComingMeetings.scss */
.upcomingMeetings .postal-code {
  color: #dedede;
  text-align: center;
}

/*PastMeetings*/
/* line 3, ../scss/_pastMeetings.scss */
.pastMeetings {
  max-width: 58.125em;
  margin: 0 auto;
}
/* line 6, ../scss/_pastMeetings.scss */
.pastMeetings h1 {
  font-family: 'Avenir Next LT W01 Demi', sans-serif;
  color: #555555;
}
/* line 9, ../scss/_pastMeetings.scss */
.pastMeetings h1:before {
  content: '\00a0';
  background-color: #555555;
  display: inline-block;
  width: 41%;
  margin-right: 0.3125em;
  height: 0.1875em;
  vertical-align: middle;
}
@media (max-width: 57em) {
  /* line 9, ../scss/_pastMeetings.scss */
  .pastMeetings h1:before {
    height: 0;
    width: 0;
  }
}
/* line 22, ../scss/_pastMeetings.scss */
.pastMeetings h1:after {
  content: '\00a0';
  background-color: #555555;
  display: inline-block;
  width: 41%;
  height: 0.1875em;
  margin-left: 0.3125em;
  vertical-align: middle;
}
@media (max-width: 57em) {
  /* line 22, ../scss/_pastMeetings.scss */
  .pastMeetings h1:after {
    height: 0;
    width: 0;
  }
}
/* line 36, ../scss/_pastMeetings.scss */
.pastMeetings .border {
  margin: 0 auto;
  float: left;
  margin-left: 3%;
  margin-top: 0.625em;
  width: 45%;
  text-align: center;
  margin-bottom: 0.9375em;
  border: 0.3em solid #555555;
  padding: 1.25em;
}
@media (max-width: 57em) {
  /* line 36, ../scss/_pastMeetings.scss */
  .pastMeetings .border {
    float: none;
    width: 75%;
    margin: 0.625em auto;
  }
}
/* line 52, ../scss/_pastMeetings.scss */
.pastMeetings .time {
  font-family: outagecut;
  color: #555555;
}
/* line 55, ../scss/_pastMeetings.scss */
.pastMeetings .time:before {
  content: '\00a0';
  background-color: #98c035;
  display: inline-block;
  width: 4%;
  height: 0.1875em;
  margin-right: 0.3125em;
  vertical-align: middle;
}
/* line 64, ../scss/_pastMeetings.scss */
.pastMeetings .time:after {
  content: '\00a0';
  background-color: #98c035;
  display: inline-block;
  width: 4%;
  height: 0.1875em;
  margin-left: 0.3125em;
  vertical-align: middle;
}
/* line 74, ../scss/_pastMeetings.scss */
.pastMeetings h2 {
  color: #555555;
}
/* line 77, ../scss/_pastMeetings.scss */
.pastMeetings a {
  color: #555555;
  max-width: 9.0625em;
  margin: 0 auto;
  margin-bottom: 1.25em;
  text-transform: uppercase;
  display: block;
  font-size: 0.9375em;
  list-style: none;
  background-color: white;
  text-align: center;
  font-family: 'Avenir Next LT W01 Demi';
  font-weight: 100;
  padding: 0.3125em;
  color: #555555;
  letter-spacing: .1em;
}
/* line 93, ../scss/_pastMeetings.scss */
.pastMeetings a:hover {
  background-color: #555555;
  color: white;
}

/* line 1, ../scss/_footer.scss */
footer {
  clear: both;
}

/* line 4, ../scss/_footer.scss */
.sub-footer {
  clear: both;
  padding: 2em;
  font-size: 1em;
  width: 100%;
  background-color: #9ac236;
  float: left;
}

/* line 12, ../scss/_footer.scss */
.sub-footer p {
  max-width: 27em;
  float: left;
  text-align: left;
  color: #ffffff;
  font-size: 1.5em;
}
@media (max-width: 57em) {
  /* line 12, ../scss/_footer.scss */
  .sub-footer p {
    font-size: 1em;
  }
}

/* line 22, ../scss/_footer.scss */
.sub-footer p.font-color {
  clear: both;
  color: #000;
  margin: 0;
}
@media (max-width: 57em) {
  /* line 22, ../scss/_footer.scss */
  .sub-footer p.font-color {
    font-size: 1em;
  }
}

/* line 30, ../scss/_footer.scss */
.sub-footer ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style-type: none;
  font-size: 5em;
}
@media (max-width: 57em) {
  /* line 30, ../scss/_footer.scss */
  .sub-footer ul {
    font-size: 2em;
  }
}

/* line 40, ../scss/_footer.scss */
.sub-footer li {
  display: inline-block;
}

/* line 43, ../scss/_footer.scss */
.sub-footer li a {
  display: inline-block;
  color: #000;
}

/* line 47, ../scss/_footer.scss */
.sub-footer li a:hover {
  text-decoration: none;
  color: #fff;
}

/* line 51, ../scss/_footer.scss */
.sub-footer .page_wrapper {
  max-width: 53.125em;
  margin: 0 auto;
}
