.layout-twitter-wrapper{
    clear: both;
    background-color: rgb(127, 194, 26);
    font-family: georgia;
    font-size: 1em;
    color: #333333;
  #tweets {
    padding: 1em;
    margin: 0 auto;
    max-width: $break-small;
    li {
      color: $black;
      list-style-type: none;
      margin: 0 auto;
      float: left; 
      margin-left: 3%;
      margin-top: 1em;
      margin-bottom: 2em;
      width: 45%;
      text-align: center;
      @include respond-to(max-width, 50em){
        float: none;
        margin-left: none;
        width: 70%;
        margin: 0 auto 15px auto;
        padding: 0 0 15px 0;
        border-bottom: 1px dotted #ccc;
      }
      a {
        text-decoration: none;
        color: $white;
      }
      a:hover {
        text-decoration: underline;
      }
      .time {
        font-size: 10px;
        font-style: italic;
        color: #666666;
      }
    }
  }
}