footer{
  clear:  both;
}  
.layout-sub_footer{
  clear: both;
  padding: 2em;
  width: 100%;
  background-color: #9ac236;
  float: left;
  p{
    max-width: 75%;
    float: left;
     text-align: left;
     color: #ffffff;
     font-size: 1.5em;
      @include respond-to(max-width, $break-small){
        font-size: 1em;
        margin-left: 10%;
        max-width: 60%;
      }
      @include respond-to(max-width, 38em){

        max-width: 100%;
      }
    }
  .font-color{
    clear: both;
      color: #000;
      margin: 0;
      @include respond-to(max-width, $break-small){
        font-size: 1em;
      }
    }
  ul{
    margin: 0;
    padding: 0;
    margin-top: .45em;
    display: inline-block;
    list-style-type: none;
    font-size: 3em;
    margin-left: .5em;
    @include respond-to(max-width, 50em){
      font-size: 3em;
    }
    @include respond-to(max-width, 44em){
      font-size: 3em;
      margin-left: 10%;
    }

  }
  li{
    display: inline-block;

    a{
      display: inline-block;
      color: #000;
      &:hover {
        transition: .5s;
        text-decoration: none; 
        color: #fff;
      }
    }
  }
  .layout-wrapper{
    max-width: 53.125em;
    margin: 0 auto;
  }
}