/* HEADER & LOGO */

header {
  overflow: visible;
  padding: 1em 0;
  height: 9em;
  background-color: $white;
  margin: 2.5em 0;
  @include respond-to(max-width, $break-small){
    width: 100%;
    margin: 0 auto;
    height: 0em;  
    padding: 0em;
  }  
  .layout-wrapper{
    width: 57em; /* 57em 912px*/
    @include respond-to(max-width, $break-small){
      width: 21em; /* 21em 336px*/
    }
  }
  .border{
    border-top: solid; 
    border-bottom: solid;
    height: 5em;
  }
  img {
    display: block;
    margin: 0 auto;
    margin-top: -4.75em;
    width: 13.8125em;/* 13.8125em 221px*/
    height: 15.3125em;/* 15.3125em 245px*/
    padding:  1.5em 0;
    @include respond-to(max-width, $break-small){
      float: initial;
      width: 8.2875em;  /*.6 *221  132.5px*/
      height: 9.1875em; /*.6 * 245 147px*/
      padding: 0;
      margin-top: 0;

    }  
  }
  .logo_description{
    font-family: 'outagecut', sans-serif;
    text-align: center;
    display: inline-block;
    color: $light-gray;
    font-size: 1em; /*1em 16px*/
    float: left;
    line-height: 4em;/* 4em 64px*/
    // max-width: 22.875em;/* 22.875em 366px*/
    border-color: $light-gray; 
    margin-left: .34375em;
    margin-top: -8.75em;
    margin-right: .34375em;
    span.left{
      margin-right: 16em;
      border-top: 0.3em solid; 
      border-bottom: 0.3em solid;
      padding: 1em 0;
      @include respond-to(max-width, $break-small){
        border: none;
        }
      &:before{
        content: '>  ';
        color: $bright-green;
      }
    }
    span.right{
        border-top: 0.3em solid;  
        border-bottom: 0.3em solid;
        padding: 1em 0;
      @include respond-to(max-width, $break-small){
        border: none;
      }
      &:after{
        content: '  <';
        color: $bright-green;
      }
    }
    @include respond-to(max-width, $break-small){
      line-height: 1.25em;
      border-top: 0.3em solid; 
      border-bottom: 0.3em solid;
      background-color: $white;
      margin: 0 auto;
      span.left{
        margin-right: 0;
      }
    } 
  }
  .description{
    font-size: 1.25em;
    width: 100%;
    float: left;
    margin: 0 auto;
    background-color: #8a8a8a;
    border-top: 0.3em solid $bright-green;
    padding: 2% 14%;
    @include respond-to(max-width, $break-small){
      padding: 2% 15%;
      font-size: 1em;
    }
    @include respond-to(min-width, 85em){
      padding: 2% 25%; 
    }    
    @include respond-to(min-width, 95em){
      padding: 2% 33%;
    }
  }
}