/*PastMeetings*/
$gray: #555555;
.past{
    max-width: 58.125em;
    margin: 0 auto;
  h1{
    font-family: 'Avenir Next LT W01 Demi', sans-serif;
    color: $gray; 
    &:before{
    content: '\00a0';
      background-color: $gray;
      display: inline-block;
      width: 41%;
      margin-right: 0.3125em;
      height: 0.1875em;
      vertical-align: middle;
      @include respond-to(max-width, $break-small){
        height: 0;
        width: 0;
      } 
    }  
    &:after{
      content: '\00a0';
      background-color: $gray;
      display: inline-block;
      width:41%;
      height: 0.1875em;
      margin-left: 0.3125em;
      vertical-align: middle;
      @include respond-to(max-width, $break-small){
        height: 0;
        width: 0;
      }
    }
  }  
  .border{
    margin: 0 auto;
    float: left;
    margin-left: 3%;
    margin-top: 0.625em;
    width: 45%;
    text-align: center;
    margin-bottom: 0.9375em;
    border: 0.3em solid $gray;
    padding: 1.25em;
    @include respond-to(max-width, 24em){
      border: none;
    } 
    @include respond-to(max-width, $break-small){
      float: none;
      width: 75%;
      margin: 0.625em auto;
    }  
  }
  .time{
    font-family: outagecut;
    color: $gray;
    &:before{
      content: '\00a0';
      background-color: $bright-green;
      display: inline-block;
      width: 4%;
      height: 0.1875em;
      margin-right: 0.3125em;
      vertical-align: middle;
    }
    &:after{
      content: '\00a0';
      background-color: $bright-green;
      display: inline-block;
      width: 4%;
      height: 0.1875em;
      margin-left: 0.3125em;
      vertical-align: middle;
    }
  }
  h2{
    color: $gray;
  }
  .code{
    width: 40%;
    color: $black;
    margin: 0 auto;
    background-color: $white;
    padding: 0.3125em;
    color: $gray;
    &:visited{
      color: $gray;
    }    
    &:link{
      color: $gray;
    }
    &:hover {
      transition: 0.25s;
      color: $white;
      background-color: $gray;
      &:visited{
        color: $white;
      }
    }
  }
} 